:root {
    --primary: rgba(102, 0, 204, 0);
    --secondary: #2020236d;
}

@tailwind base;

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 3.5px;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body {
        font-family: 'Inter', sans-serif;
        font-family: 'Open Sans', sans-serif;
        background: #f6f4f0;
    }

    h1 {
        font-size: 64px;
        line-height: 70px;
    }

    h2 {
        font-size: 48px;
        font-weight: 500;
    }

    h3 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }
}